html {
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

article, aside, details, figcaption, figure, footer, header, nav,
	section {
	display: block;
}

input {
	outline: none;
}

body {
	margin: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 20px;
	color: #000000;
	background: #ffffff url(../images/bg-top.jpg) repeat-x top center;
}

#container {
	width: 1333px;
	margin: 0 auto;
	/*overflow: hidden;*/
}
/* Header */
header {
	background: url(../images/header.jpg) no-repeat top center;
	height: 633px;
}

header .logo {
	width: 320px;
	height: 216px;
	padding: 70px 0 0px 0px;
	margin: 0 auto 200px;
	position: relative;
	left: -60px;
	font-size: 0px;
	background: url(../images/logo.png) no-repeat center;
}

header .cont-form {
	width: 1024px;
	margin: 15px auto 20px;
	height: 50px;
}

.red {
	color: #ff0000;
}

#flags {
	width: 150px;
	float: right;
	margin: 5px;
}

#flags a {
	width: 25px;
	height: 25px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	-webkit-box-shadow: 0 0 20px 1px #000000;
	box-shadow: 0 0 20px 1px #000000;
	border: 3px solid #D4A135;
	border-top: 2px solid #fff;
	border-left: 2px solid #fff;
	display: inline-block;
	margin: 5px 3px;
}

#flags a:hover {
	-webkit-box-shadow: inset 0 0 15px 1px #FF0000;
	box-shadow: inset 0 0 15px 1px #FF0000;
}

#flags .en {
	background: url(../images/flags/EN.jpg) no-repeat;
}

#flags .ru {
	background: url(../images/flags/RU.jpg) no-repeat;
}

#flags .ua {
	background: url(../images/flags/UA.jpg) no-repeat;
}

.reg {
	width: 160px;
	text-align: center;
	float: right;
}

.reg a {
	background: #fdfbec;
	background: -moz-linear-gradient(top, #fdfbec 0%, #e3c271 48%, #d9ad43 50%, #ce9428
		100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fdfbec),
		color-stop(48%, #e3c271), color-stop(50%, #d9ad43),
		color-stop(100%, #ce9428));
	background: -webkit-linear-gradient(top, #fdfbec 0%, #e3c271 48%, #d9ad43 50%,
		#ce9428 100%);
	background: -o-linear-gradient(top, #fdfbec 0%, #e3c271 48%, #d9ad43 50%, #ce9428
		100%);
	background: -ms-linear-gradient(top, #fdfbec 0%, #e3c271 48%, #d9ad43 50%, #ce9428
		100%);
	background: linear-gradient(to bottom, #fdfbec 0%, #e3c271 48%, #d9ad43 50%, #ce9428
		100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfbec',
		endColorstr='#ce9428', GradientType=0);
	line-height: 50px;
	display: block;
	font-size: 16px;
	font-weight: bold;
	text-shadow: 1px 1px 1px #ffffff;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	-webkit-box-shadow: 0 0 20px 1px #000000;
	box-shadow: 0 0 20px 1px #000000;
	text-transform: uppercase;
	text-decoration: none;
	color: #000000;
}

.login {
	float: right;
	margin: 0 10px 0 0;
}

.login .buttonVhod {
	width: 97px;
	line-height: 50px;
	background: #fdfbec;
	background: -moz-linear-gradient(top, #fdfbec 0%, #e3c271 48%, #d9ad43 50%, #ce9428
		100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fdfbec),
		color-stop(48%, #e3c271), color-stop(50%, #d9ad43),
		color-stop(100%, #ce9428));
	background: -webkit-linear-gradient(top, #fdfbec 0%, #e3c271 48%, #d9ad43 50%,
		#ce9428 100%);
	background: -o-linear-gradient(top, #fdfbec 0%, #e3c271 48%, #d9ad43 50%, #ce9428
		100%);
	background: -ms-linear-gradient(top, #fdfbec 0%, #e3c271 48%, #d9ad43 50%, #ce9428
		100%);
	background: linear-gradient(to bottom, #fdfbec 0%, #e3c271 48%, #d9ad43 50%, #ce9428
		100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfbec',
		endColorstr='#ce9428', GradientType=0);
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	text-shadow: 1px 1px 1px #ffffff;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	-webkit-box-shadow: 0 0 20px 1px #000000;
	box-shadow: 0 0 20px 1px #000000;
	float: left;
	text-transform: uppercase;
	text-decoration: none;
	border: 0;
	color: #000000;
}

.login .buttonVhod:hover, .reg a:hover {
	background: #ff0505;
	background: -moz-linear-gradient(top, #ff0505 0%, #8f0222 33%, #6d0019 71%, #ea0000
		100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff0505),
		color-stop(33%, #8f0222), color-stop(71%, #6d0019),
		color-stop(100%, #ea0000));
	background: -webkit-linear-gradient(top, #ff0505 0%, #8f0222 33%, #6d0019 71%,
		#ea0000 100%);
	background: -o-linear-gradient(top, #ff0505 0%, #8f0222 33%, #6d0019 71%, #ea0000
		100%);
	background: -ms-linear-gradient(top, #ff0505 0%, #8f0222 33%, #6d0019 71%, #ea0000
		100%);
	background: linear-gradient(to bottom, #ff0505 0%, #8f0222 33%, #6d0019 71%, #ea0000
		100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0505',
		endColorstr='#ea0000', GradientType=0);
	color: #ffffff;
	text-shadow: 1px 1px 1px #000000;
}

#menu {
	width: 1024px;
	margin: 0 auto;
	clear: both;
}

#menu ul {
	background: url(../images/menu.jpg) repeat-x center;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	list-style: none;
	padding: 0;
	margin: 0;
	height: 45px;
	-webkit-box-shadow: 0 10px 20px -15px #000000;
	box-shadow: 0 10px 20px -15px #000000;
}

#menu ul li:first-child {
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	margin: 0;
	display: block;
	min-width: 12.5%;
	float: left;
	text-align: center;
	background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.75) 0%,
		rgba(255, 255, 153, 0.75) 33%, rgba(206, 148, 40, 0.75) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255,
		255, 255, 0.75)), color-stop(33%, rgba(255, 255, 153, 0.75)),
		color-stop(100%, rgba(206, 148, 40, 0.75)));
	background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.75) 0%,
		rgba(255, 255, 153, 0.75) 33%, rgba(206, 148, 40, 0.75) 100%);
	background: -o-linear-gradient(top, rgba(255, 255, 255, 0.75) 0%,
		rgba(255, 255, 153, 0.75) 33%, rgba(206, 148, 40, 0.75) 100%);
	background: -ms-linear-gradient(top, rgba(255, 255, 255, 0.75) 0%,
		rgba(255, 255, 153, 0.75) 33%, rgba(206, 148, 40, 0.75) 100%);
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0.75) 0%,
		rgba(255, 255, 153, 0.75) 33%, rgba(206, 148, 40, 0.75) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfffffff',
		endColorstr='#bfce9428', GradientType=0);
	border-right: 1px solid #ffffff;
}

#menu ul li:last-child {
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	margin: 0;
	display: block;
	min-width: 12.5%;
	float: left;
	text-align: center;
	background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.75) 0%,
		rgba(255, 255, 153, 0.75) 33%, rgba(206, 148, 40, 0.75) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255,
		255, 255, 0.75)), color-stop(33%, rgba(255, 255, 153, 0.75)),
		color-stop(100%, rgba(206, 148, 40, 0.75)));
	background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.75) 0%,
		rgba(255, 255, 153, 0.75) 33%, rgba(206, 148, 40, 0.75) 100%);
	background: -o-linear-gradient(top, rgba(255, 255, 255, 0.75) 0%,
		rgba(255, 255, 153, 0.75) 33%, rgba(206, 148, 40, 0.75) 100%);
	background: -ms-linear-gradient(top, rgba(255, 255, 255, 0.75) 0%,
		rgba(255, 255, 153, 0.75) 33%, rgba(206, 148, 40, 0.75) 100%);
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0.75) 0%,
		rgba(255, 255, 153, 0.75) 33%, rgba(206, 148, 40, 0.75) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfffffff',
		endColorstr='#bfce9428', GradientType=0);
	border-right: 1px solid #ffffff;
}

#menu ul li {
	display: block;
	min-width: 12.5%;
	float: left;
	text-align: center;
	background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.75) 0%,
		rgba(255, 255, 153, 0.75) 33%, rgba(206, 148, 40, 0.75) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255,
		255, 255, 0.75)), color-stop(33%, rgba(255, 255, 153, 0.75)),
		color-stop(100%, rgba(206, 148, 40, 0.75)));
	background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.75) 0%,
		rgba(255, 255, 153, 0.75) 33%, rgba(206, 148, 40, 0.75) 100%);
	background: -o-linear-gradient(top, rgba(255, 255, 255, 0.75) 0%,
		rgba(255, 255, 153, 0.75) 33%, rgba(206, 148, 40, 0.75) 100%);
	background: -ms-linear-gradient(top, rgba(255, 255, 255, 0.75) 0%,
		rgba(255, 255, 153, 0.75) 33%, rgba(206, 148, 40, 0.75) 100%);
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0.75) 0%,
		rgba(255, 255, 153, 0.75) 33%, rgba(206, 148, 40, 0.75) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfffffff',
		endColorstr='#bfce9428', GradientType=0);
	border-right: 1px solid #ffffff;
}

#menu ul li a {
	color: #000000;
	text-decoration: none;
	line-height: 45px;
	display: block;
}

#menu ul li:hover {
	background: -moz-linear-gradient(top, rgba(107, 58, 12, 0.85) 0%,
		rgba(147, 113, 48, 0.85) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(107,
		58, 12, 0.85)), color-stop(100%, rgba(147, 113, 48, 0.85)));
	background: -webkit-linear-gradient(top, rgba(107, 58, 12, 0.85) 0%,
		rgba(147, 113, 48, 0.85) 100%);
	background: -o-linear-gradient(top, rgba(107, 58, 12, 0.85) 0%,
		rgba(147, 113, 48, 0.85) 100%);
	background: -ms-linear-gradient(top, rgba(107, 58, 12, 0.85) 0%,
		rgba(147, 113, 48, 0.85) 100%);
	background: linear-gradient(to bottom, rgba(107, 58, 12, 0.85) 0%,
		rgba(147, 113, 48, 0.85) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d96b3a0c',
		endColorstr='#d9937130', GradientType=0);
}

#menu ul li>a:hover {
	color: #ffffff;
	background: url(../images/menu-hover.png) no-repeat center;
}
/* Content */
#content {
	width: 1024px;
	margin: 0 auto;
}

#sidebar-left {
	width: 20%;
	float: left;
}

#sidebar-left #block-category .title-box {
	height: 45px;
	background: #eedb73;
	background: -moz-linear-gradient(top, #eedb73 0%, #ce9428 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eedb73),
		color-stop(100%, #ce9428));
	background: -webkit-linear-gradient(top, #eedb73 0%, #ce9428 100%);
	background: -o-linear-gradient(top, #eedb73 0%, #ce9428 100%);
	background: -ms-linear-gradient(top, #eedb73 0%, #ce9428 100%);
	background: linear-gradient(to bottom, #eedb73 0%, #ce9428 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eedb73',
		endColorstr='#ce9428', GradientType=0);
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}

#sidebar-left #block-category {
	position: relative;
	z-index: 1;
}

#sidebar-left #block-category .title-box h2 {
	background: url(../images/title-box.png) no-repeat left top;
	height: 30px;
	position: relative;
	top: -30px;
	padding: 42px 0 0 60px;
	font-size: 16px;
	text-shadow: 1px 1px 1px #ffffff;
}

#sidebar-left #block-category ul {
	border: 1px solid #ccc;
	padding: 30px 20px 10px 30px;
	margin: -15px 0 0;
	position: relative;
	z-index: -1;
	background-color: #fff;
	-webkit-box-shadow: 0 20px 20px -15px #B4B4B4;
	box-shadow: 0 20px 20px -15px #B4B4B4;
}

#sidebar-left #block-category ul li {
	border-bottom: 1px dotted #ccc;
	list-style-image: url(../images/list-cat.png);
	margin-bottom: 3px;
	position: relative;
}

#sidebar-left #block-category ul li:hover {
	list-style-image: url(../images/list-cat-h.png);
	background: url(../images/list-move.png) no-repeat right center;
	border-bottom: 1px dotted red;
}

#sidebar-left #block-category ul li a {
	text-decoration: none;
	color: #000000;
	font-size: 14px;
}

#sidebar-left #block-category ul li a:hover {
	color: red;
}

#sidebar-right {
	width: 20%;
	float: right;
	position: relative;
	z-index: 1;
}

#sidebar-right .title-box {
	height: 45px;
	background: #eedb73;
	background: -moz-linear-gradient(top, #eedb73 0%, #ce9428 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eedb73),
		color-stop(100%, #ce9428));
	background: -webkit-linear-gradient(top, #eedb73 0%, #ce9428 100%);
	background: -o-linear-gradient(top, #eedb73 0%, #ce9428 100%);
	background: -ms-linear-gradient(top, #eedb73 0%, #ce9428 100%);
	background: linear-gradient(to bottom, #eedb73 0%, #ce9428 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eedb73',
		endColorstr='#ce9428', GradientType=0);
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	z-index: 1;
	position: relative;
}

#sidebar-right .title-box h2 {
	line-height: 45px;
	font-size: 16px;
	text-shadow: 1px 1px 1px #ffffff;
	text-align: center;
}

#sidebar-right .content {
	border: 1px solid #ccc;
	padding: 30px 10px 10px 10px;
	margin: -30px 0 0;
	background-color: #F2F2F2;
	-webkit-box-shadow: 0 20px 20px -15px #B4B4B4;
	box-shadow: 0 20px 20px -15px #B4B4B4;
}

#sidebar-right .content ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-align: center;
}

#sidebar-right .content ul li {
	/*border-bottom: 2px dotted #ccc;*/
	margin: 0 0 10px;
	text-align: center;
}

#sidebar-right .content ul  li a {
	color: #000000;
	text-decoration: none;
}

#sidebar-right .content ul  li a:hover {
	color: red;
}

#sidebar-right .content ul  li a img {
	width: 100%;
}

#main {
	width: 54%;
	float: left;
	margin: 0 3% 0 3%;
	text-align: center;
}

#main .category-img img {
	margin: 0 15px 10px;
	-webkit-box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.55);
	box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.55);
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	border: 2px solid #A6A6A6;
}

#main .category-img img:hover {
	border: 2px solid #ffcc00;
	-webkit-box-shadow: 0 0 20px 1px #FF0000;
	box-shadow: 0 0 20px 1px #FF0000;
}

#main h1 {
	text-align: center;
	font-size: 20px;
	margin: -10px 0 30px;
}

.methodpay li {
	display: inline-block;
	/*float: left;*/
}
/* Single */
.game-title {
	width: 40%;
	text-align: left;
	float: left;
	margin: 0px 20px;
	text-align: center;
}

.game-title img {
	margin-bottom: 20px;
	padding: 10px;
	border: 1px solid #fff;
	background-color: #EAC00A;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	-webkit-box-shadow: 10px 10px 10px 1px rgba(56, 36, 0, 0.47);
	box-shadow: 10px 10px 10px 1px rgba(56, 36, 0, 0.47);
}

.game-title ul {
	list-style-type: none;
	width: 100%;
	margin: 0;
	padding: 0;
}

.game-title ul li {
	/*height: 32.5px;*/
	background: #eedb73;
	background: -moz-linear-gradient(top, #eedb73 0%, #ce9428 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eedb73),
		color-stop(100%, #ce9428));
	background: -webkit-linear-gradient(top, #eedb73 0%, #ce9428 100%);
	background: -o-linear-gradient(top, #eedb73 0%, #ce9428 100%);
	background: -ms-linear-gradient(top, #eedb73 0%, #ce9428 100%);
	background: linear-gradient(to bottom, #eedb73 0%, #ce9428 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eedb73',
		endColorstr='#ce9428', GradientType=0);
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	margin-bottom: 5px;
	min-height: 32px;
}

.game-title ul li:hover {
	
}

.game-title ul li a {
	text-decoration: none;
	color: #000000;
	font-weight: bold;
	vertical-align: middle;
	padding: 10px;
	display: block;
}

.game-title ul li a:hover {
	color: #ffffff;
	vertical-align: middle;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

#description {
	clear: both;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

.calc_form {
	/*
    width: 60%;
    float: right;
    */
	margin-bottom: 15px;
	background: #FFF2AD url(../images/form-money.jpg);
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	padding: 10px 0;
	-webkit-box-shadow: 0px 5px 10px 1px rgba(56, 36, 0, 0.47);
	box-shadow: 0px 5px 10px 1px rgba(56, 36, 0, 0.47);
	width: inherit;
}

.inputsBorder {
	border: 1px solid #6F5527;
	border-top: 1px solid #fff;
}

.calc_form input, .calc_form textarea, .calc_form select {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	outline: none;
	background: url(../images/menu.jpg) repeat-x center;
	padding: 3px;
	margin: 3px;
	line-height: 20px;
	-webkit-box-shadow: inset 0 5px 30px 1px #2B1E09;
	box-shadow: inset 0 5px 30px 1px #2B1E09;
	color: #fff;
}

.calc_form select option {
	background: #BC9D65;
	color: #fff;
}

.calc_form input::-moz-placeholder {
	color: #ffffff;
}

.calc_form input[placeholder] {
	color: #ffffff;
}

.calc_form input::-webkit-input-placeholder, .calc_form textarea::-webkit-input-placeholder
	{
	color: #ffffff;
}

.calc_form button {
	width: 150px;
	line-height: 50px;
	background: #fdfbec;
	background: -moz-linear-gradient(top, #fdfbec 0%, #e3c271 48%, #d9ad43 50%, #ce9428
		100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fdfbec),
		color-stop(48%, #e3c271), color-stop(50%, #d9ad43),
		color-stop(100%, #ce9428));
	background: -webkit-linear-gradient(top, #fdfbec 0%, #e3c271 48%, #d9ad43 50%,
		#ce9428 100%);
	background: -o-linear-gradient(top, #fdfbec 0%, #e3c271 48%, #d9ad43 50%, #ce9428
		100%);
	background: -ms-linear-gradient(top, #fdfbec 0%, #e3c271 48%, #d9ad43 50%, #ce9428
		100%);
	background: linear-gradient(to bottom, #fdfbec 0%, #e3c271 48%, #d9ad43 50%, #ce9428
		100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfbec',
		endColorstr='#ce9428', GradientType=0);
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	text-shadow: 1px 1px 1px #ffffff;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	-webkit-box-shadow: 0 0 20px 1px #000000;
	box-shadow: 0 0 20px 1px #000000;
	margin: 10px auto;
	text-transform: uppercase;
	text-decoration: none;
	border: 0;
	color: #000000;
}

.calc_form button:hover {
	background: #ff0505;
	background: -moz-linear-gradient(top, #ff0505 0%, #8f0222 33%, #6d0019 71%, #ea0000
		100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff0505),
		color-stop(33%, #8f0222), color-stop(71%, #6d0019),
		color-stop(100%, #ea0000));
	background: -webkit-linear-gradient(top, #ff0505 0%, #8f0222 33%, #6d0019 71%,
		#ea0000 100%);
	background: -o-linear-gradient(top, #ff0505 0%, #8f0222 33%, #6d0019 71%, #ea0000
		100%);
	background: -ms-linear-gradient(top, #ff0505 0%, #8f0222 33%, #6d0019 71%, #ea0000
		100%);
	background: linear-gradient(to bottom, #ff0505 0%, #8f0222 33%, #6d0019 71%, #ea0000
		100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0505',
		endColorstr='#ea0000', GradientType=0);
	color: #ffffff;
	text-shadow: 1px 1px 1px #000000;
	cursor: pointer;
}

.calc_form h2.title {
	background: url(../images/money.png) no-repeat left center;
	margin: 0 20px 20px;
	padding: 10px 0 10px 45px;
	color: #7A3B06;
	display: inline-block;
}

#change_kurs div {
	display: inline;
}

#calc_zoloto {
	/*display: inline-block;*/
	
}

#calc_zoloto input {
	text-align: center;
	width: 85%;
}

#calc_money {
	/*display: inline-block;*/
	
}

#calc_money input {
	text-align: center;
	width: 85%;
}

.calc_order {
	clear: both;
}
/*
#block2{
    text-align: right;
    padding-right: 5px;
}
*/
#video-obzor {
	margin: 20px 0;
}

#video-obzor img:hover {
	-webkit-box-shadow: 0 0 20px 1px #FF0000;
	box-shadow: 0 0 20px 1px #FF0000;
}

.none {
	display: none;
}

.error {
	border: solid 1px red;
}

.form-error {
	/*text-height: 0.9em;*/
	display: block;
	margin-bottom: 10px;
	color: red;
}

.has-error label {
	color: red;
	font-weight: 600;
}
/* Footer */
footer {
	margin: 0 auto;
	/*position: absolute;
    clear: both;*/
	background: url(../images/footer.jpg) no-repeat center;
	float: left;
	width: 100%
}

footer .ft-bt {
	width: 1024px;
	height: 252px;
	margin: 0 auto;
	position: relative;
}

footer .footer-img-left {
	width: 335px;
	height: 247px;
	background: url(../images/footer-img-left.png) no-repeat;
	position: absolute;
	bottom: 0;
	left: 0;
}

footer .footer-img-right {
	width: 253px;
	height: 252px;
	background: url(../images/footer-img-right.png) no-repeat;
	position: absolute;
	bottom: 0;
	right: 0;
}

footer .copyright {
	margin: 0 0 20px;
	height: 40px;
	position: absolute;
	bottom: 0;
	left: 30%;
	background: #fcfcfc;
	background: -moz-linear-gradient(top, #fcfcfc 0%, #ffff99 41%, #ce9428 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fcfcfc),
		color-stop(41%, #ffff99), color-stop(100%, #ce9428));
	background: -webkit-linear-gradient(top, #fcfcfc 0%, #ffff99 41%, #ce9428 100%);
	background: -o-linear-gradient(top, #fcfcfc 0%, #ffff99 41%, #ce9428 100%);
	background: -ms-linear-gradient(top, #fcfcfc 0%, #ffff99 41%, #ce9428 100%);
	background: linear-gradient(to bottom, #fcfcfc 0%, #ffff99 41%, #ce9428 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc',
		endColorstr='#ce9428', GradientType=0);
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	border: 1px solid #ffffff;
	width: 470px;
	text-align: center;
}

footer .copyright2 {
	/*margin: 0 0 20px;*/
	height: 40px;
	position: absolute;
	bottom: 0;
	*left: 30%;
	z-index: 375px;
	background: #fcfcfc;
	background: -moz-linear-gradient(top, #fcfcfc 0%, #ffff99 41%, #ce9428 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fcfcfc),
		color-stop(41%, #ffff99), color-stop(100%, #ce9428));
	background: -webkit-linear-gradient(top, #fcfcfc 0%, #ffff99 41%, #ce9428 100%);
	background: -o-linear-gradient(top, #fcfcfc 0%, #ffff99 41%, #ce9428 100%);
	background: -ms-linear-gradient(top, #fcfcfc 0%, #ffff99 41%, #ce9428 100%);
	background: linear-gradient(to bottom, #fcfcfc 0%, #ffff99 41%, #ce9428 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc',
		endColorstr='#ce9428', GradientType=0);
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	border: 1px solid #ffffff;
	width: 470px;
	text-align: center;
}

.footer-b {
	width: 100%;
	height: 16px;
	/*position: absolute;
    bottom: 0;*/
	background: url(../images/footer-b.jpg) repeat-x;
}

@media screen and (min-width: 1920px) {
	#container:before {
		background: url(../images/dragon-left.jpg) no-repeat top center;
		content: "";
		height: 224px;
		width: 174px;
		display: block;
		position: absolute;
		top: 70%;
		left: 12%;
		z-index: -2;
	}
	#container:after {
		background: url(../images/dragon-right.jpg) no-repeat top center;
		content: "";
		height: 185px;
		width: 226px;
		display: block;
		position: absolute;
		top: 70%;
		right: 10%;
		z-index: -2;
	}
	#menu-icon, #icon-menu, #icon-category {
		display: none;
	}
}

@media screen and (max-width: 980px) {
	footer {
		width: 1333px;
	}
}

@media screen and (min-width: 320px) and (max-width: 480px) {
	#container, header .cont-form, #content, #sidebar-left, #main,
		#sidebar-right, footer, #menu, footer .ft-bt {
		width: 100%;
	}
	header {
		background: url(../images/header-480.jpg) no-repeat top center;
		height: 633px;
	}
	header .logo {
		padding: 50px 0 0 0px;
		font-size: 0px;
		background: url(../images/logo.png) no-repeat center;
		left: 0;
	}
	.reg {
		margin-right: 20px;
	}
	#menu-icon {
		clear: both;
		margin: 100px 60px 20px;
		overflow: hidden;
		display: block;
	}
	#menu {
		float: left;
	}
	#menu ul, #block-category {
		display: none;
	}
	#menu ul.toggled {
		display: block;
		height: 100%;
	}
	#icon-menu, #icon-category {
		display: block;
		width: 90px;
		height: 58px;
	}
	#menu ul.toggled li {
		float: none;
		text-align: center;
	}
	#icon-menu {
		background: url(../images/sprite-menu.png) no-repeat top left;
		float: left;
	}
	#icon-menu.active {
		background: url(../images/sprite-menu.png) no-repeat 0% 97%;
	}
	#icon-category {
		background: url(../images/sprite-menu.png) no-repeat top right;
		float: right;
	}
	#icon-category.active {
		background: url(../images/sprite-menu.png) no-repeat 100% 97%;
	}
	#sidebar-left #block-category.toggled {
		display: block;
	}
	#sidebar-left #block-category ul {
		border: 1px solid #ccc;
		border-bottom: 4px solid #715710;
		padding: 30px 20px 10px 30px;
		margin: -15px 0 0;
		position: relative;
		z-index: -1;
		background: url(../images/fon-sidebar.jpg);
		text-align: center;
	}
	#sidebar-left #block-category ul li {
		border: 2px solid #D29C31;
		border-top: 2px solid #fff;
		border-bottom: 2px solid #000;
		margin: 10px;
		display: inline-block;
		background: #E4C65C url(../images/02.jpg) center;
		padding: 5px 20px;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
		-webkit-box-shadow: 0 5px 10px 1px rgba(0, 0, 0, 0.68);
		box-shadow: 0 5px 10px 1px rgba(0, 0, 0, 0.68);
	}
	#sidebar-left #block-category ul li a {
		text-decoration: none;
		color: #FFFFFF;
		font-size: 20px;
		font-weight: bold;
		text-shadow: 1px 1px 3px #000000;
	}
	#sidebar-left #block-category ul li a:before {
		width: 10px;
		height: 40px;
		content: "";
		float: left;
		z-index: 1;
		background: url(../images/01.png) no-repeat;
		position: absolute;
		left: -8px;
		top: -3px;
	}
	#sidebar-left #block-category ul li a:after {
		width: 10px;
		height: 40px;
		content: "";
		float: right;
		z-index: 1;
		background: url(../images/01.png) no-repeat;
		position: absolute;
		right: -8px;
		top: -3px;
	}
	#main {
		margin: 0;
	}
	#main h1 {
		margin: 20px 0 30px;
	}
	#main .category-img {
		text-align: center;
	}
	#main .category-img img {
		width: 70%;
	}
	#sidebar-right .content ul li a img {
		display: block;
		margin: 0 auto;
	}
	footer .copyright {
		width: 50%;
		position: absolute;
		bottom: 0;
		left: 60px;
		margin: 0 0 20px 20px;
		z-index: 1;
	}
	footer .footer-img-left {
		display: none;
	}
}

@media screen and (min-width: 480px) and (max-width: 567px) {
	#container, header .cont-form, #content, #sidebar-left, #main,
		#sidebar-right, footer, #menu, footer .ft-bt {
		width: 100%;
		margin: 0;
	}
	header {
		background: url(../images/header-768.jpg) no-repeat top center;
		height: 633px;
	}
	header .logo {
		padding: 50px 0 0 0px;
		margin: 0 auto 220px;
		font-size: 0px;
		background: url(../images/logo.png) no-repeat center;
		left: 0;
	}
	.reg {
		margin-right: 20px;
	}
	#menu-icon {
		clear: both;
		margin: 100px 60px 20px;
		overflow: hidden;
		display: block;
	}
	#menu {
		float: left;
	}
	#menu ul, #block-category {
		display: none;
	}
	#menu ul.toggled {
		display: block;
		height: 100%;
	}
	#icon-menu, #icon-category {
		display: block;
		width: 90px;
		height: 58px;
	}
	#menu ul.toggled li {
		float: none;
		text-align: center;
	}
	#icon-menu {
		background: url(../images/sprite-menu.png) no-repeat top left;
		float: left;
	}
	#icon-menu.active {
		background: url(../images/sprite-menu.png) no-repeat 0% 97%;
	}
	#icon-category {
		background: url(../images/sprite-menu.png) no-repeat top right;
		float: right;
	}
	#icon-category.active {
		background: url(../images/sprite-menu.png) no-repeat 100% 97%;
	}
	#main h1 {
		margin: 20px 0 30px;
	}
	#sidebar-left #block-category.toggled {
		display: block;
	}
	#sidebar-left #block-category ul {
		border: 1px solid #ccc;
		border-bottom: 4px solid #715710;
		padding: 30px 20px 10px 30px;
		margin: -15px 0 0;
		position: relative;
		z-index: -1;
		background: url(../images/fon-sidebar.jpg);
		text-align: center;
	}
	#sidebar-left #block-category ul li {
		border: 2px solid #D29C31;
		border-top: 2px solid #fff;
		border-bottom: 2px solid #000;
		margin: 10px;
		display: inline-block;
		background: #E4C65C url(../images/02.jpg) center;
		padding: 5px 20px;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
		-webkit-box-shadow: 0 5px 10px 1px rgba(0, 0, 0, 0.68);
		box-shadow: 0 5px 10px 1px rgba(0, 0, 0, 0.68);
	}
	#sidebar-left #block-category ul li a {
		text-decoration: none;
		color: #FFFFFF;
		font-size: 20px;
		font-weight: bold;
		text-shadow: 1px 1px 3px #000000;
	}
	#sidebar-left #block-category ul li a:before {
		width: 10px;
		height: 40px;
		content: "";
		float: left;
		z-index: 1;
		background: url(../images/01.png) no-repeat;
		position: absolute;
		left: -8px;
		top: -3px;
	}
	#sidebar-left #block-category ul li a:after {
		width: 10px;
		height: 40px;
		content: "";
		float: right;
		z-index: 1;
		background: url(../images/01.png) no-repeat;
		position: absolute;
		right: -8px;
		top: -3px;
	}
	#sidebar-right .content ul li {
		text-align: center;
	}
	#sidebar-right .content ul li a img {
		display: block;
		margin: 0 auto;
	}
	footer .copyright {
		left: 25%;
		width: 270px;
	}
	footer .footer-img-left {
		display: none;
	}
}

@media screen and (min-width: 568px) and (max-width: 768px) {
	#container, header .cont-form, #content, #sidebar-left, #main,
		#sidebar-right, footer, #menu, footer .ft-bt {
		width: 100%;
	}
	header {
		background: url(../images/header-768.jpg) no-repeat top center;
		height: 633px;
	}
	header .logo {
		padding: 50px 0 0 0px;
		margin: 0 auto 220px;
		font-size: 0px;
		background: url(../images/logo.png) no-repeat center;
		left: 0;
	}
	.reg {
		margin-right: 20px;
	}
	#menu-icon {
		clear: both;
		margin: 100px 60px 20px;
		overflow: hidden;
		display: block;
	}
	#menu {
		float: left;
	}
	#menu ul li a {
		color: #000000;
		font-size: 24px;
		font-weight: bold;
	}
	#menu ul, #block-category {
		display: none;
	}
	#menu ul.toggled {
		display: block;
		height: 100%;
	}
	#icon-menu, #icon-category {
		display: block;
		width: 90px;
		height: 58px;
	}
	#menu ul.toggled li {
		float: none;
		text-align: center;
	}
	#icon-menu {
		background: url(../images/sprite-menu.png) no-repeat top left;
		float: left;
	}
	#icon-menu.active {
		background: url(../images/sprite-menu.png) no-repeat 0% 97%;
	}
	#icon-category {
		background: url(../images/sprite-menu.png) no-repeat top right;
		float: right;
	}
	#icon-category.active {
		background: url(../images/sprite-menu.png) no-repeat 100% 97%;
	}
	#sidebar-left #block-category.toggled {
		display: block;
	}
	#sidebar-left #block-category ul {
		border: 1px solid #ccc;
		border-bottom: 4px solid #715710;
		padding: 30px 20px 10px 30px;
		margin: -15px 0 0;
		position: relative;
		z-index: -1;
		background: url(../images/fon-sidebar.jpg);
		text-align: center;
	}
	#sidebar-left #block-category ul li {
		border: 2px solid #D29C31;
		border-top: 2px solid #fff;
		border-bottom: 2px solid #000;
		margin: 10px;
		display: inline-block;
		background: #E4C65C url(../images/02.jpg) center;
		padding: 5px 20px;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
		-webkit-box-shadow: 0 5px 10px 1px rgba(0, 0, 0, 0.68);
		box-shadow: 0 5px 10px 1px rgba(0, 0, 0, 0.68);
	}
	#sidebar-left #block-category ul li a:before {
		width: 10px;
		height: 40px;
		content: "";
		float: left;
		z-index: 1;
		background: url(../images/01.png) no-repeat;
		position: absolute;
		left: -8px;
		top: -3px;
	}
	#sidebar-left #block-category ul li a:after {
		width: 10px;
		height: 40px;
		content: "";
		float: right;
		z-index: 1;
		background: url(../images/01.png) no-repeat;
		position: absolute;
		right: -8px;
		top: -3px;
	}
	#sidebar-left #block-category ul li a {
		text-decoration: none;
		color: #FFFFFF;
		font-size: 20px;
		font-weight: bold;
		text-shadow: 1px 1px 3px #000000;
	}
	#sidebar-left #block-category ul li:hover {
		background: transparent;
	}
	#main {
		margin: 20px 0 0;
		text-align: center;
	}
	#main .category-img img {
		width: 25%;
	}
	#sidebar-right .content ul li {
		text-align: center;
	}
	#sidebar-right .content ul li a img {
		display: block;
		margin: 0 auto;
	}
	footer .copyright {
		left: 10%;
		width: 270px;
	}
	footer .footer-img-left {
		display: none;
	}
}

@media screen and (min-width: 769px) and (max-width: 800px) {
	#container, header .cont-form, #content, #sidebar-left, #main,
		#sidebar-right, footer, #menu, footer .ft-bt {
		width: 100%;
	}
	header {
		background: url(../images/header-768.jpg) no-repeat top center;
		height: 633px;
	}
	header .logo {
		padding: 50px 0 0 0px;
		margin: 0 auto 220px;
		font-size: 0px;
		background: url(../images/logo.png) no-repeat center;
		left: 0;
	}
	.reg {
		margin-right: 20px;
	}
	#menu-icon {
		clear: both;
		margin: 100px 60px 20px;
		overflow: hidden;
		display: block;
	}
	#menu {
		float: left;
	}
	#menu ul li a {
		color: #000000;
		font-size: 24px;
		font-weight: bold;
	}
	#menu ul, #block-category {
		display: none;
	}
	#menu ul.toggled {
		display: block;
		height: 100%;
	}
	#icon-menu, #icon-category {
		display: block;
		width: 90px;
		height: 58px;
	}
	#menu ul.toggled li {
		float: none;
		text-align: center;
	}
	#icon-menu {
		background: url(../images/sprite-menu.png) no-repeat top left;
		float: left;
	}
	#icon-menu.active {
		background: url(../images/sprite-menu.png) no-repeat 0% 97%;
	}
	#icon-category {
		background: url(../images/sprite-menu.png) no-repeat top right;
		float: right;
	}
	#icon-category.active {
		background: url(../images/sprite-menu.png) no-repeat 100% 97%;
	}
	#sidebar-left #block-category ul li {
		border: 1px dotted #ccc;
		margin: 3px;
		display: inline-block;
		background-color: #E4C65C;
		padding: 3px 10px;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
	}
	#sidebar-left #block-category ul li a {
		text-decoration: none;
		color: #000000;
		font-size: 18px;
	}
	#sidebar-left #block-category ul li:hover {
		background: transparent;
	}
	#sidebar-left #block-category ul li a:hover {
		color: red;
	}
	#sidebar-left #block-category.toggled {
		display: block;
	}
	#main {
		margin: 20px 0 0;
		text-align: center;
	}
	#main .category-img img {
		width: 25%;
	}
	#sidebar-right .content ul li {
		text-align: center;
	}
	#sidebar-right .content ul li a img {
		display: block;
		margin: 0 auto;
	}
	footer .copyright {
		left: 10%;
		width: 270px;
	}
	footer .footer-img-left {
		display: none;
	}
}

@media screen and (min-width: 800px) and (max-width: 1024px) {
	#container, #content, header .cont-form, footer, #menu, footer .ft-bt {
		width: 100%;
	}
}

/**************************** Diagram CSS   *********************************/
.diagram-block { //
	background: rgba(0, 0, 0, 0) url("/games/assets/images/diagram-bg.png")
		no-repeat scroll 0 0;
	height: 349px;
	margin-top: 45px;
	width: 650px;
	vertical-align: bottom;
}

.block-action-text5 {
	background: rgba(0, 0, 0, 0) url("/games/assets/images/discount5.png")
		no-repeat scroll 0 0;
	height: 256px;
	line-height: 256px;
	transition: box-shadow 0.15s linear 0s;
	width: 70px;
	margin-right: 40px;
	color: #fff;
	cursor: default;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
}

.text-block5 {
	background: rgba(0, 0, 0, 0)
		linear-gradient(to bottom, #768aa3, #334754) repeat scroll 0 0;
	color: #fff;
	cursor: default;
	font-size: 14px;
	font-weight: bold;
	line-height: 27px;
	margin: 15px 0 0;
	text-align: center;
}

.block-action-text4 {
	background: rgba(0, 0, 0, 0) url("/games/assets/images/discount4.png")
		no-repeat scroll 0 0;
	height: 205px;
	line-height: 205px;
	transition: box-shadow 0.15s linear 0s;
	width: 70px;
	margin-right: 40px;
	color: #fff;
	cursor: default;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
}

.text-block4 {
	background: rgba(0, 0, 0, 0)
		linear-gradient(to bottom, #fbec2d, #dd831e) repeat scroll 0 0;
	color: #fff;
	cursor: default;
	font-size: 14px;
	font-weight: bold;
	line-height: 27px;
	margin: 15px 0 0;
	text-align: center;
}

.block-action-text3 {
	background: rgba(0, 0, 0, 0) url("/games/assets/images/discount3.png")
		no-repeat scroll 0 0;
	height: 154px;
	line-height: 154px;
	transition: box-shadow 0.15s linear 0s;
	width: 70px;
	margin-right: 40px;
	color: #fff;
	cursor: default;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
}

.text-block3 {
	background: rgba(0, 0, 0, 0)
		linear-gradient(to bottom, #cf6026, #883b15) repeat scroll 0 0;
	font-size: 14px;
	font-weight: bold;
	line-height: 27px;
	margin: 15px 0 0;
	text-align: center;
}

.block-action-text2 {
	background: rgba(0, 0, 0, 0) url("/games/assets/images/discount2.png")
		no-repeat scroll 0 0;
	height: 103px;
	line-height: 103px;
	transition: box-shadow 0.15s linear 0s;
	width: 70px;
	margin-right: 40px;
	color: #fff;
	cursor: default;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
}

.text-block2 {
	background: rgba(0, 0, 0, 0)
		linear-gradient(to bottom, #bdc4d3, #767e95) repeat scroll 0 0;
	font-size: 14px;
	font-weight: bold;
	line-height: 27px;
	margin: 15px 0 0;
	text-align: center;
}

.block-action-text1 {
	background: rgba(0, 0, 0, 0) url("/games/assets/images/discount1.png")
		no-repeat scroll 0 0;
	height: 51px;
	line-height: 51px;
	transition: box-shadow 0.15s linear 0s;
	width: 70px;
	margin-right: 40px;
	color: #fff;
	cursor: default;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
}

.text-block1 {
	background: rgba(0, 0, 0, 0)
		linear-gradient(to bottom, #bdc4d3, #867f57) repeat scroll 0 0;
	font-size: 14px;
	font-weight: bold;
	line-height: 27px;
	margin: 15px 0 0;
	text-align: center;
}

.help-text { //
	background: rgba(0, 0, 0, 0)
		url("/games/assets/images/help-text-diagrams-label.png") no-repeat
		scroll 0 0;
	background: #fff none repeat scroll 0 0;
	border: 4px solid #75889e;
	box-shadow: 3px 5px 8px rgba(0, 0, 0, 0.16);
	display: none;
	font-weight: bold;
	left: 36px;
	line-height: 16px;
	padding: 15px 16px;
	position: absolute;
	top: -92px;
	width: 232px;
	z-index: 1000;
}

/* Customized order page for different screen resolution */
@media screen and (min-width: 320px) and (max-width: 480px) {
	.game-title {
		width: 40%;
		text-align: left;
		float: left;
		margin: 0px 20px;
		margin-left: 70px;
		text-align: center;
	}
	.game-title ul {
		list-style-type: none;
		width: 100%;
		margin: 0;
		margin-left: 30px;
		padding: 0;
	}
	#calc_zoloto input {
		margin-left: 30px;
	}
	.news_block {
		float: left;
		margin: 0 3%;
		text-align: center;
		width: 120%
	}
}

@media ( min-width : 360px) and (max-width:667px) {
	.game-title {
		width: 40%;
		text-align: left;
		float: left;
		margin: 0px 20px;
		margin-left: 90px;
		text-align: center;
	}
	.game-title ul {
		list-style-type: none;
		width: 100%;
		margin: 0;
		margin-left: 21px;
		padding: 0;
	}
	footer .copyright {
		width: 50%;
		position: absolute;
		bottom: 0;
		left: 83px;
		margin: 0 0 20px 20px;
		z-index: 1;
	}
	.news_block {
		float: left;
		margin: 0 3%;
		text-align: center;
		width: 120%
	}
}

@media ( min-width : 375px) and (max-width:667px) {
	.game-title {
		width: 40%;
		text-align: left;
		float: left;
		margin: 0px 20px;
		margin-left: 100px;
		text-align: center;
	}
	.game-title ul {
		list-style-type: none;
		width: 100%;
		margin: 0;
		margin-left: 16px;
		padding: 0;
	}
	footer .copyright {
		width: 50%;
		position: absolute;
		bottom: 0;
		left: 83px;
		margin: 0 0 20px 20px;
		z-index: 1;
	}
	.news_block {
		float: left;
		margin: 0 3%;
		text-align: center;
		width: 120%
	}
}

@media ( min-width : 412px) and (max-width:732px) {
	.game-title {
		width: 40%;
		text-align: left;
		float: left;
		margin: 0px 20px;
		margin-left: 120px;
		text-align: center;
	}
	.game-title ul {
		list-style-type: none;
		width: 100%;
		margin: 0;
		margin-left: 12px;
		padding: 0;
	}
	#calc_zoloto input {
		margin-left: 40px;
	}
	footer .copyright {
		width: 50%;
		position: absolute;
		bottom: 0;
		left: 83px;
		margin: 0 0 20px 20px;
		z-index: 1;
	}
	.news_block {
		float: left;
		margin: 0 3%;
		text-align: center;
		width: 120%
	}
}

@media ( min-width : 414px) and (max-width:736px) {
	.game-title {
		width: 40%;
		text-align: left;
		float: left;
		margin: 0px 20px;
		margin-left: 120px;
		text-align: center;
	}
	.game-title ul {
		list-style-type: none;
		width: 100%;
		margin: 0;
		margin-left: 8px;
		padding: 0;
	}
	footer .copyright {
		width: 50%;
		position: absolute;
		bottom: 0;
		left: 83px;
		margin: 0 0 20px 20px;
		z-index: 1;
	}
	.news_block {
		float: left;
		margin: 0 3%;
		text-align: center;
		width: 120%
	}
}

@media ( min-width : 480px) and (max-width:567px) {
	.game-title {
		width: 40%;
		text-align: left;
		float: left;
		margin: 0px 20px;
		margin-left: 70px;
		text-align: center;
	}
	.game-title ul {
		list-style-type: none;
		width: 100%;
		margin: 0;
		margin-left: 10px;
		padding: 0;
	}
	#calc_zoloto input {
		margin-left: 60px;
	}
	#amount {
		margin-left: 60px;
	}
	footer .copyright {
		width: 50%;
		position: absolute;
		bottom: 0;
		left: 83px;
		margin: 0 0 20px 20px;
		z-index: 1;
	}
	.news_block {
		float: left;
		margin: 0 3%;
		text-align: center;
		width: 120%
	}
}

@media screen and (min-width: 540px) and (max-width: 960px) {
	.game-title {
		width: 40%;
		text-align: left;
		float: left;
		margin: 0px 20px;
		margin-left: 195px;
		text-align: center;
	}
	.game-title ul {
		list-style-type: none;
		width: 100%;
		margin: 0;
		margin-left: 0px;
		padding: 0;
	}
	#calc_zoloto input {
		margin-left: 60px;
	}
	#amount {
		margin-left: 60px;
	}
	footer .copyright {
		width: 50%;
		position: absolute;
		bottom: 0;
		left: 90px;
		margin: 0 0 20px 20px;
		z-index: 1;
	}
	.news_block {
		float: left;
		margin: 0 3%;
		text-align: center;
		width: 120%
	}
}